<h1> All Messages </h1>

<div style="height: 60vh; background: #d6d6d6; border-radius: 3px;" class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= link_to message.title, message_path(message) %></td>
          <td><%= message.user.first %> <%= message.user.last %></td>
          <td><%= message.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p %Z") %></td>
        </tr>
        <br>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to "New Message", new_message_path, class: "btn btn-default" %>
<% end %>
